<link rel="stylesheet" href="static/css/blurb.css">
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/profile.png" class="card-img-top" alt="...">
                    <h5 class="card-title" style="text-align:center;">Achintya</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary"><img src="static/img/instagram.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/profile.png" class="card-img-top" alt="...">
                    <h5 class="card-title" style="text-align:center;">Not Achintya</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content..</p>
                    <a href="#" class="btn btn-primary"><img src="static/img/instagram.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/profile.png" class="card-img-top" alt="...">
                    <h5 class="card-title" style="text-align:center;">Sanskar</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary"><img src="static/img/instagram.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
