<link rel='stylesheet' href='static/css/blurb.css'>
<link rel='stylesheet' href='static/fonts/font-family.css'>
<div class='container'>
    <div class='row'>
        <div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/aryan.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Aryan Kaushal</h5><h6 style='text-align:center;'> Director of Content Writing </h6><p class='card-text'>Aryan Kaushal, from Mumbai, is a
            voracious reader and strives to be a bestselling author. Being a keen orator, he has
            participated in many a drama or elocution
            competition. He also has an interest in
            food, digital art and Hip-Hop/Rap. Due to
            his belief in protecting the climate, he has
            joined Ayika as Director of Content Writing
            to help spread awareness about Climate
            Change and the degradation of the
            environment, through articles and action.</p></div></div></div><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/shaurya.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Shaurya Sawant</h5><h6 style='text-align:center;'> CCO </h6><p class='card-text'>A kid from Bombay who dreams about
            changing the world. He's passionate about
            sports, psychology, history and teaching. His
            desire to make a difference led to him joining
            ayika and being selected as project director.
            He does his best to come up with ideas and
            attentively listen to everything other people
            say, although his tone is informal a lot of
            times, he make sure that it’s understandable
            and not disrespectful.</p></div></div></div><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/jeslin.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Jeslin Joy</h5><h6 style='text-align:center;'>Social Media Director</h6><p class='card-text'>Ambitious and resilient, she is an optimist who
            looks at the brighter side of things. She
            passes her time reading books, practicing
            ragas and composing poetry.</p></div></div></div></div><div class='row'><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/manav.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Manav Sharma</h5><h6 style='text-align:center;'>CPO</h6><p class='card-text'>Manav is a 16 year old from Mumbai. He is a
            published author who aspires to be
            philosopher one day. He has keen interests in
            fields of art, design, writing. Before joining
            Ayika, he has worked on various climaterelated projects as both a leader and a team
            member. Through Ayika, he hopes to do his
            part in the climate change revolution through
            working on various graphic related projects.</p></div></div></div><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/sraavani.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Sraavani Varanasi</h5><h6 style='text-align:center;'>Ideation Director</h6><p class='card-text'>Sravaani Varanasi is a high school attending,
            academically overachieving, music loving writer
            with a huge passion for the sciences. As the
            ideation director of Ayika foundation, she focuses
            on implementing new, quirky, and slightly strange
            ideas that grow and develop the cause of Ayika.
            A true believer in team spirit, she works with the
            team to help bring about real, tangible, and
            substantial change. P.S.: If you catch a piece of
            writing with an absurd number of puns, chances
            are it was probably written by Sravaani!</p></div></div></div><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/abhiraj.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Abhiraj Shree</h5><h6 style='text-align:center;'> Marketing Director</h6><p class='card-text'>Abhiraj Shree is working as a Marketing
            Director at Ayika. He’s ardent about
            Economics, History & STEM subjects and his
            future goal is to eventually build a tech
            startup.</p></div></div></div></div><div class='row'><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/mimansa.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Mimansa Shastri</h5><h6 style='text-align:center;'>Content Writer</h6><p class='card-text'>Mimansa Shastri, hailing from Surat, currently resides
            at Badlapur. Considering academics, she has
            completed M.Sc. in Applied Physics and M. Tech in
            atmospheric science. Data analysis and writing
            reports on basis of data interpretations is her area of
            expertise. She has spent 5+ years in the development
            sector working with several organisations dealing with
            environment and public health. Recently she quit her
            full-time job and is trying to progress as a freelancer
            in the digital space. Moreover since teaching runs in
            her DNA, she has taken up a job as coding educator
            at Brightchamps.com to run her expenses and apart
            from that joined Ayika to pursue her passion for
            creating awareness regarding environment
            conservation. She is a mom of an 11 month old baby
            and aspiring to be a responsible citizen who will be
            instrumental in bringing change for a better tomorrow
            for future generations.</p></div></div></div><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/ruthu.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Ruthu G</h5><h6 style='text-align:center;'>Research Intern</h6><p class='card-text'>Ruthu is a student of Symbiosis School for
            Liberal Arts, pursuing interdisciplinary
            studies in international relations, political
            science and sociology. She is passionate
            about sustainable development and
            environmental politics. She hopes to
            combine her experiences in research and
            policy analysis with her passions to help fight
            against climate change.
            She likes to crochet outfits too!</p></div></div></div><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/anis.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Anis Ansari</h5><h6 style='text-align:center;'>Advisor</h6><p class='card-text'>Anis Ansari is a 19 year old environment science
            enthusiast who wants to bring an impact through
            scientific innovation and inventions. He is also
            actively involved in a different aren advocating
            about mental health and youth empowerment.
            Anis wants to be a change maker and act for the
            betterment of the earth.</p></div></div></div></div><div class='row'><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/aastha.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Aastha Yadav</h5><h6 style='text-align:center;'>Co-Director of Ideation</h6><p class='card-text'>Aastha Yadav is the Co-Director of Ideation
            at Ayika Foundation. She is a High School
            Senior who is currently pursuing her High
            School Diploma focused in Humanities/Arts,
            living in India. She is fervent about tech for
            good, community service and is an
            enthusiastic swimmer who loves to read and
            eat!</p></div></div></div><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/achintya.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Achintya</h5><h6 style='text-align:center;'>IT Director</h6><p class='card-text'>Achintya is a dedicated and hard working
            student from India. He is interested in
            learning about new technologies and is a
            state level chess player</p></div></div></div><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/arnavn.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Arnav Nathani</h5><h6 style='text-align:center;'>CGO</h6><p class='card-text'>Arnav is a 16 year old, living in Mumbai who enjoys
            basketball, music and aspires to go into research. He
            has worked on various environmental projects at a
            small scale and with Ayika wishes to help the
            environment at a larger scale and do his bit to be a
            part of the solution.</p></div></div></div></div><div class='row'><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/ria.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Ria Agarwal</h5><h6 style='text-align:center;'>CMO</h6><p class='card-text'>Ria is a CMO at Ayika and will be
            beginning university in September this
            year to study business and economies.
            She loves meeting new people, going out
            with friends and listening to music.</p></div></div></div><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/emanuel.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Prince Dey Emanuel</h5><h6 style='text-align:center;'>Project Director</h6><p class='card-text'>Prince Emmanuel Dey is a tech and research
            enthusiast who is passionate about leading societal
            change to achieve the Sustainable developmental
            goals. He hopes to use his experience from working
            on diverse project to lead the Ayika team as it's
            Project Director to combat Climate change. He
            believes in the power of effective collaboration and
            deligence to duty. He likes debating, and singing in
            the choir during his free time.</p></div></div></div><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/dorcas.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Dorcas Adetunji</h5><h6 style='text-align:center;'> PR Intern </h6><p class='card-text'>Dorcas is a teenager based in Nigeria. She enjoys
            reading, writing and learning more. She is a girl in
            STEM specifically Computer Science and hopes to
            one day have a successful tech career. She is a witty
            conversationalist that takes pleasure in hearing
            others' points of view and helping them. Feel free to
            reach out to her if you want to engage in a
            conversation(She's looking forward to it:) )</p></div></div></div></div><div class='row'><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/swati.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Marketing Intern</h5><h6 style='text-align:center;'> POSITION HERE </h6><p class='card-text'>Swati is good with both numbers and words. She
            struggles to leave a bookstore without buying a book
            even when she have so many of them unread lying
            her shelves.
            Chai, cricket and stories are all we need.
            She has already been working with NGO's and feels
            privileged to be a part of Ayika.</p></div></div></div><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/sanskar.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Sanskar Pathak</h5><h6 style='text-align:center;'>COO </h6><p class='card-text'>Sanskar is an organised, ambitious and visionary
            management graduate from India's first Railways
            University. He has been a law student also. Having a
            great passion for Railways and transportation, he has
            done several projects in those domains. He also has
            the experience of managing startups and
            organisations.
            He is a pianist and a great music lover, having
            concerns towards the sustainability and
            environmental impacts of the licentious, bridled,
            injudicious and unjustifiable use of natural resources
            and increasing pollution. Through his association with
            Ayika, he aspires to contribute in the direction of
            environment protection using his managerial skills and
            ideas, and to transform the organization into a leading
            change-maker for the protection of mother earth.</p></div></div></div><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/dhruv.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Dhruv Malhotra</h5><h6 style='text-align:center;'>Project Director</h6><p class='card-text'>Dhruv is a high school senior from Gujarat and his
            hobbies include electronics, machine learning and AI.
            He is an avid reader and passionate about debating
            and entrepreneurship. Communication and critical
            thinking skills have always been his forte.
            Furthermore, he loves playing lawn tennis, golf and
            chess. He give his very best in whatever he does and
            has always been open to learning new things. He
            recently joined the Ayika foundation as the project
            director. He strives to effectively use and apply his
            research, interpersonal and leadership skills to
            contribute to the organisation and thus grow together.</p></div></div></div></div><div class='row'><div class='col-sm-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/kripa.jpg' class='card-img-top' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Kripa</h5><h6 style='text-align:center;'>PR Intern</h6><p class='card-text'>Kripa is 19 year old who's driven by her love for
            nature to improve the environment and climate
            conditions. She has been actively participating in
            workshop about climate change and wishes to be a
            change maker through Ayika Foundation.</p></div></div></div></div>
</div>
