<link rel='stylesheet' href='static/css/blurb.css'>
<link rel='stylesheet' href='static/fonts/font-family.css'>
<style>
   .card{
    margin-bottom: 20px;
   }
</style>
<div class='container'>
    <div class='row'>
        <div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/aryan.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Aryan Kaushal</h5><h6 style='text-align:center;'> Director of Content Writing </h6></div></div></div><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/shaurya.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Shaurya Sawant</h5><h6 style='text-align:center;'> CCO </h6></div></div></div><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/jeslin.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Jeslin Joy</h5><h6 style='text-align:center;'>Social Media Director</h6></div></div></div></div><div class='row'><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/manav.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Manav Sharma</h5><h6 style='text-align:center;'>CPO</h6></div></div></div><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/sraavani.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Sraavani Varanasi</h5><h6 style='text-align:center;'>Ideation Director</h6></div></div></div><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/abhiraj.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Abhiraj Shree</h5><h6 style='text-align:center;'> Marketing Director</h6></div></div></div></div><div class='row'><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/mimansa.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Mimansa Shastri</h5><h6 style='text-align:center;'>Content Writer</h6></div></div></div><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/ruthu.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Ruthu G</h5><h6 style='text-align:center;'>Research Intern</h6></div></div></div>
        <div class='col-12 col-lg-4'>
            <div class='card'>
                <div class='card-body'> <img src='static/team/tia.jpg' class='card-img-top normal' alt='...'>
                    <h5 class='card-title' style='text-align:center;'>Tia Kamath</h5>
                    <h6 style='text-align:center;'>Content Creator</h6>
                </div>
            </div>
        </div>
        </div>
        <div class='row'>
            <div class='col-12 col-lg-4'>	
            
            <div class='card'>	<div class='card-body'>	<img src='static/team/aastha.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Aastha Yadav</h5><h6 style='text-align:center;'>Co-Director of Ideation</h6></div></div></div><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/achintya.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Achintya</h5><h6 style='text-align:center;'>IT Director</h6></div></div></div><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/arnavn.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Arnav Nathani</h5><h6 style='text-align:center;'>CGO</h6></div></div></div></div><div class='row'><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/ria.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Ria Agarwal</h5><h6 style='text-align:center;'>CMO</h6></div></div></div><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/emanuel.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Prince Dey Emanuel</h5><h6 style='text-align:center;'>Project Director</h6></div></div></div><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/dorcas.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Dorcas Adetunji</h5><h6 style='text-align:center;'> PR Intern </h6></div></div></div></div><div class='row'><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/swati.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Marketing Intern</h5><h6 style='text-align:center;'> POSITION HERE </h6></div></div></div><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/sanskar.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Sanskar Pathak</h5><h6 style='text-align:center;'>COO </h6></div></div></div><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/dhruv.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Dhruv Malhotra</h5><h6 style='text-align:center;'>Project Director</h6></div></div></div></div><div class='row'><div class='col-12 col-lg-4'>	
            <div class='card'>	<div class='card-body'>	<img src='static/team/kripa.jpg' class='card-img-top normal' alt='...'>	
        <h5 class='card-title' style='text-align:center;'>Kripa</h5><h6 style='text-align:center;'>PR Intern</h6></div></div></div></div>
</div>
