<link rel="stylesheet" href="static/css/footer.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="rowr">
        <div class="colr" style="margin-left:50px">
            <img src="static/img/logo.png" width="90%" height="90%" style="fill:#fff" alt="" class="logo">
            <p style="font-family: Medium;">Ayika Foundation works towards creating a sustainable future for humans and animals alike by conducting various
            projects, drives, campaigns, spreading awareness, writing blogs, and hosting podcasts. We wish to transform the way
            people think about waste management, and promote animal protection.
            We recently conducted a public park cleanup and recycling campaign. Read more about it here!</p>
        </div>
        <div class="colr">
            <h3 style="font-family: Publico;">Contact</h3>
            <p style="font-family: Medium; font-size: 1.25rem; color:#fff"><u><a href="mailto:team@ayikafoundation.org" style="color:#fff">team@ayikafoundation.org</a></u></p>
            <h4><a href="tel:+919152323147" style="text-decoration: none; color:#fff">+91 91523 23147</a></h4>
        </div>
        <div class="colr">
            <h3 style="font-family: Publico;">Links</h3>
            <ul style="font-family:Medium, sans-serif;">
                <li><a href="ayikafoundation">Homepage</a></li>
                <li><a href="our-story">Our Story</a></li>
                <li><a href="team">Team</a></li>
                <li><a href="partners">Partners</a></li>
                <li><a href="our-projects">Our Projects</a></li>
                <li><a href="gallery">Gallery</a></li>
                <li><a href="contact-us">Contact Us</a></li>
            </ul>
            <i class="fa-brands fa-instagram"></i>
        </div>
        
    </div>
</footer>
