<link rel="stylesheet" href="static/css/blurb.css">
<link rel="stylesheet" href="static/css/font-family.css">
<style>
    .card-img-top {
        margin-bottom: 5px;
        height:500px;
        align-items: center;
    }
    
</style>
<div class='container'>
    <div class='row'>
        <div class='col-sm-6'>
            <div class='card'>
                <div class='card-body'> <img src='static/team/siya.jpg' class='card-img-top' alt='...' width="600px"
                        height="500px">
                    <h5 class='card-title' style='text-align:center;'>Litisha Bagadia</h5>
                    <h6 style='text-align:center;'><b>Co-Founder</b></h6>
                    <p class="card-text" style="font-family: Medium;">Litisha Bagadia is a 16 year old from Mumbai. Her interests range from baking, writing, reading to travelling, entrepreneurship, computer science and exploring. She is pragmatic and tackles every problem head on. She thrives on intellectual conversations and loves discussing new ideas with people. She is determined, reliable, persuasive, and honours commitments. She is deeply concerned about the recent climate change and aims to bring a difference through Ayika Foundation.</p>
                    
                </div>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class='card'>
                <div class='card-body'> <img src='static/team/litisha.png' class='card-img-top' alt='...'>
                    <h5 class='card-title' style='text-align:center;'>Siya Joshi</h5>
                    <h6 style='text-align:center;'> <b>Co-Founder</b> </h6>
                    <p class="card-text" style="font-family: Medium; font-weight:lighter;">Siya Joshi is a 16 year old from Mumbai, India. She has a keen interest in speech and art and has been thriving on art since a very young age. She has a very creative mind and her management skills are remarkable. She has participated in various competitions and MUNs which let off her skills to enhance. Furthermore, on learning about the recent environmental problems, she is highly concerned and wishes to make an impact through Ayika Foundation.</p>
                </div>
            </div>
        </div>