<link rel='stylesheet' href='static/css/gallery.css'>
<div class='container'>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/6.jpeg' data-lightbox='gallery1'><img
                    src='static/img/6.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/7.jpeg' data-lightbox='gallery1'><img
                    src='static/img/7.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/8.jpeg' data-lightbox='gallery1'><img
                    src='static/img/8.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/9.jpeg' data-lightbox='gallery1'><img
                    src='static/img/9.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/10.jpeg' data-lightbox='gallery1'><img
                    src='static/img/10.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/11.jpeg' data-lightbox='gallery1'><img
                    src='static/img/11.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/12.jpeg' data-lightbox='gallery1'><img
                    src='static/img/12.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/13.jpeg' data-lightbox='gallery1'><img
                    src='static/img/13.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/14.jpeg' data-lightbox='gallery1'><img
                    src='static/img/14.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/15.jpeg' data-lightbox='gallery1'><img
                    src='static/img/15.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/16.jpeg' data-lightbox='gallery1'><img
                    src='static/img/16.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/17.jpeg' data-lightbox='gallery1'><img
                    src='static/img/17.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/18.jpeg' data-lightbox='gallery1'><img
                    src='static/img/18.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/19.jpeg' data-lightbox='gallery1'><img
                    src='static/img/19.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/20.jpeg' data-lightbox='gallery1'><img
                    src='static/img/20.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/21.jpeg' data-lightbox='gallery1'><img
                    src='static/img/21.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/22.jpeg' data-lightbox='gallery1'><img
                    src='static/img/22.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/23.jpeg' data-lightbox='gallery1'><img
                    src='static/img/23.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/24.jpeg' data-lightbox='gallery1'><img
                    src='static/img/24.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/25.jpeg' data-lightbox='gallery1'><img
                    src='static/img/25.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/26.jpeg' data-lightbox='gallery1'><img
                    src='static/img/26.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/27.jpeg' data-lightbox='gallery1'><img
                    src='static/img/27.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/28.jpeg' data-lightbox='gallery1'><img
                    src='static/img/28.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/29.jpeg' data-lightbox='gallery1'><img
                    src='static/img/29.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/30.jpeg' data-lightbox='gallery1'><img
                    src='static/img/30.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/31.jpeg' data-lightbox='gallery1'><img
                    src='static/img/31.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/32.jpeg' data-lightbox='gallery1'><img
                    src='static/img/32.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/33.jpeg' data-lightbox='gallery1'><img
                    src='static/img/33.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/34.jpeg' data-lightbox='gallery1'><img
                    src='static/img/34.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/35.jpeg' data-lightbox='gallery1'><img
                    src='static/img/35.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/36.jpeg' data-lightbox='gallery1'><img
                    src='static/img/36.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/37.jpeg' data-lightbox='gallery1'><img
                    src='static/img/37.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/38.jpeg' data-lightbox='gallery1'><img
                    src='static/img/38.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/39.jpeg' data-lightbox='gallery1'><img
                    src='static/img/39.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/40.jpeg' data-lightbox='gallery1'><img
                    src='static/img/40.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/41.jpeg' data-lightbox='gallery1'><img
                    src='static/img/41.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/42.jpeg' data-lightbox='gallery1'><img
                    src='static/img/42.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/43.jpeg' data-lightbox='gallery1'><img
                    src='static/img/43.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/44.jpeg' data-lightbox='gallery1'><img
                    src='static/img/44.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/45.jpeg' data-lightbox='gallery1'><img
                    src='static/img/45.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/46.jpeg' data-lightbox='gallery1'><img
                    src='static/img/46.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/47.jpeg' data-lightbox='gallery1'><img
                    src='static/img/47.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/48.jpeg' data-lightbox='gallery1'><img
                    src='static/img/48.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/49.jpeg' data-lightbox='gallery1'><img
                    src='static/img/49.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/50.jpeg' data-lightbox='gallery1'><img
                    src='static/img/50.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/51.jpeg' data-lightbox='gallery1'><img
                    src='static/img/51.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/52.jpeg' data-lightbox='gallery1'><img
                    src='static/img/52.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/53.jpeg' data-lightbox='gallery1'><img
                    src='static/img/53.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/54.jpeg' data-lightbox='gallery1'><img
                    src='static/img/54.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/55.jpeg' data-lightbox='gallery1'><img
                    src='static/img/55.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/56.jpeg' data-lightbox='gallery1'><img
                    src='static/img/56.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/57.jpeg' data-lightbox='gallery1'><img
                    src='static/img/57.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/58.jpeg' data-lightbox='gallery1'><img
                    src='static/img/58.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/59.jpeg' data-lightbox='gallery1'><img
                    src='static/img/59.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/60.jpeg' data-lightbox='gallery1'><img
                    src='static/img/60.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/61.jpeg' data-lightbox='gallery1'><img
                    src='static/img/61.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/62.jpeg' data-lightbox='gallery1'><img
                    src='static/img/62.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/63.jpeg' data-lightbox='gallery1'><img
                    src='static/img/63.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/64.jpeg' data-lightbox='gallery1'><img
                    src='static/img/64.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/65.jpeg' data-lightbox='gallery1'><img
                    src='static/img/65.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
    <div class='row mt-4'>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/66.jpeg' data-lightbox='gallery1'><img
                    src='static/img/66.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/67.jpeg' data-lightbox='gallery1'><img
                    src='static/img/67.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
        <div class='item col-sm-6 col-md-4 mb-3'><a href='static/img/68.jpeg' data-lightbox='gallery1'><img
                    src='static/img/68.jpeg' width='600px' height='700px' alt='' id='nyInput'></a></div>
    </div>
</div>
