<link rel='stylesheet' href='static/css/gallery.css'>
<link rel="stylesheet" href="static/css/font-family.css">
<style>
    div.gallery {
        border: 1px solid #ccc;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: 70% !important;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
    }

    @media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }

    @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }

</style>
</head>
<div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/8.jpeg'>
	<img src='static/gallery/8.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/9.jpeg'>
	<img src='static/gallery/9.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/11.jpeg'>
	<img src='static/gallery/11.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/12.jpeg'>
	<img src='static/gallery/12.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/14.jpeg'>
	<img src='static/gallery/14.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/15.jpeg'>
	<img src='static/gallery/15.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/16.jpeg'>
	<img src='static/gallery/16.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/17.jpeg'>
	<img src='static/gallery/17.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/18.jpeg'>
	<img src='static/gallery/18.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/19.jpeg'>
	<img src='static/gallery/19.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/22.jpeg'>
	<img src='static/gallery/22.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/23.jpeg'>
	<img src='static/gallery/23.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/24.jpeg'>
	<img src='static/gallery/24.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/25.jpeg'>
	<img src='static/gallery/25.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/26.jpeg'>
	<img src='static/gallery/26.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/29.jpeg'>
	<img src='static/gallery/29.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/31.jpeg'>
	<img src='static/gallery/31.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/34.jpeg'>
	<img src='static/gallery/34.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/36.jpeg'>
	<img src='static/gallery/36.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/37.jpeg'>
	<img src='static/gallery/37.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/40.jpeg'>
	<img src='static/gallery/40.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/41.jpeg'>
	<img src='static/gallery/41.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/42.jpeg'>
	<img src='static/gallery/42.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/43.jpeg'>
	<img src='static/gallery/43.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/53.jpeg'>
	<img src='static/gallery/53.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/6.jpeg'>
	<img src='static/gallery/6.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/7.jpeg'>
	<img src='static/gallery/7.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/21.jpeg'>
	<img src='static/gallery/21.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/27.jpeg'>
	<img src='static/gallery/27.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/28.jpeg'>
	<img src='static/gallery/28.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/30.jpeg'>
	<img src='static/gallery/30.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/32.jpeg'>
	<img src='static/gallery/32.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/33.jpeg'>
	<img src='static/gallery/33.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/35.jpeg'>
	<img src='static/gallery/35.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/38.jpeg'>
	<img src='static/gallery/38.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/39.jpeg'>
	<img src='static/gallery/39.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/44.jpeg'>
	<img src='static/gallery/44.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/45.jpeg'>
	<img src='static/gallery/45.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/46.jpeg'>
	<img src='static/gallery/46.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/47.jpeg'>
	<img src='static/gallery/47.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/48.jpeg'>
	<img src='static/gallery/48.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/49.jpeg'>
	<img src='static/gallery/49.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/50.jpeg'>
	<img src='static/gallery/50.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/51.jpeg'>
	<img src='static/gallery/51.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/52.jpeg'>
	<img src='static/gallery/52.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/54.jpeg'>
	<img src='static/gallery/54.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/55.jpeg'>
	<img src='static/gallery/55.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/56.jpeg'>
	<img src='static/gallery/56.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/57.jpeg'>
	<img src='static/gallery/57.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/58.jpeg'>
	<img src='static/gallery/58.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/59.jpeg'>
	<img src='static/gallery/59.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/60.jpeg'>
	<img src='static/gallery/60.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/61.jpeg'>
	<img src='static/gallery/61.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/62.jpeg'>
	<img src='static/gallery/62.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/63.jpeg'>
	<img src='static/gallery/63.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/64.jpeg'>
	<img src='static/gallery/64.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/65.jpeg'>
	<img src='static/gallery/65.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/66.jpeg'>
	<img src='static/gallery/66.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/67.jpeg'>
	<img src='static/gallery/67.jpeg'  width='600' height='400'></a></div></div><div class='responsive'>
	<div class='gallery'>
	<a data-lightbox='gallery1' href='static/gallery/68.jpeg'>
	<img src='static/gallery/68.jpeg'  width='600' height='400'></a></div></div>