<link rel="stylesheet" href="static/css/header.css">
<header class="header">
    <div class="text-box">
        <h1>Ayika Foundation</h1>
        <p>We are a youth-led non-profit which aims to drive a change by <span class="typed"></span></p>
    </div>

</header>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<script>
    var typed = new Typed(".typed", {
        strings: ["helping combat climate change", "saving animals", "organizing campaigns", "organizing fundraisers", "organizing events", "organizing drives", "organizing movements", "hosting podcasts", "writing blogs"],
        typeSpeed: 50,
        backSpeed: 50,
        loop: true
    })
</script>