<link rel="stylesheet" href="static/css/header.css">

<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static/gallery/55.jpeg" class="d-block w-100" alt="..." data-bs-interval="3000">
        </div>
        <div class="carousel-item">
            <img src="static/gallery/51.jpeg" class="d-block w-100" alt="..." data-bs-interval="3000">
        </div>
        <div class="carousel-item">
            <img src="static/gallery/38.jpeg" class="d-block w-100" alt="..." data-bs-interval="3000">
        </div>
    </div>
    <div class="text-box" style="z-index: 99; text-align: center;">
        <h1 style="font-family: Publico;">Ayika</h1>
        <h3 style="font-family: Medium, sans-serif; font-weight: 100;">The Ecological Revolution</h3>
        <p style="font-family: Medium, sans-serif; font-weight: 100;">We are a youth-led non-profit which aims to drive a change by <span class="typed" style="z-index:100 !important;"></span></p>
    </div>
</div>
    
    
    

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typed = new Typed(".typed", {
        strings: ["helping combat climate change", "saving animals", "organizing campaigns", "organizing fundraisers", "organizing events", "organizing drives", "organizing movements", "hosting podcasts", "writing blogs"],
        typeSpeed: 50,
        backSpeed: 50,
        loop: true
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
