<link rel="stylesheet" href="static/css/impact.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<hr style="border: 5px solid rgb(0, 0, 0);
  border-radius: 5px; margin-top: 20px;">
<h1 style="text-align:center; background-color: #1c551b; background-image: linear-gradient(to bottom, #2fb68a, #2ea27a, #2c8e6a, #297b5b, #25684c); background-size: 100%; -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; background-clip: text; " class="heading mt-2">OUR IMPACT</h1>
<div class="container">
    <div class="row g-3 gy-3">
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/teaching.svg" alt="" style="width: 15%; height: 15%;" class="card-img">

                    <h3 class="card-title">30</h3>
                    <p class="card-text">kilograms of <b>dry waste removed</b></p>
                </div>

            </div>
         </div>
    
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/teaching.svg" alt="" style="width: 15%; height: 15%;" class="card-img">

                    <h3 class="card-title">3</h3>
                    <p class="card-text">kilograms of <b>tetra packs removed</b></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/tree.svg" alt="" style="width: 10%; height: 10%;" class="card-img">

                    <h3 class="card-title">6</h3>
                    <p class="card-text">kilograms of <b>polythene removed</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3 ">
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/droplet.svg" alt="" style="width: 10%; height: 10%;" class="card-img">

                    <h3 class="card-title">3</h3>
                    <p class="card-text">kilograms of <b>multi-layer-plastic waste removed</b></p>
                </div>
            </div>
        </div>
    
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/xmark.svg" alt="" style="width: 10%; height: 10%;" class="card-img">

                    <h3 class="card-title">18</h3>
                    <p class="card-text">kilograms of <b>ldpe, soft plastic, gunny bags removed</b></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/plug.svg" alt="" style="width: 10%; height: 10%;" class="card-img">

                    <h3 class="card-title">95</h3>
                    <p class="card-text">kg of <b>total waste removed</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".card-title").counterUp({
            delay:1,
            time:100

        })
    });
</script>