<link rel="stylesheet" href="static/css/impact.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<div class="container">
    <div class="row g-3 gy-3">
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/trash.svg" alt="" style="width: 10%; height: 10%;" class="card-img">
                    <h3 class="card-title">230,658</h3>
                    <p class="card-text">Total KGs of <b>Waste Recycled</b></p>
                </div>
            </div>
         </div>
    
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/teaching.svg" alt="" style="width: 15%; height: 15%;" class="card-img">

                    <h3 class="card-title">145,637</h3>
                    <p class="card-text">Number of people reached through <b>talks and trainings</b></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/tree.svg" alt="" style="width: 10%; height: 10%;" class="card-img">

                    <h3 class="card-title">5,358</h3>
                    <p class="card-text">Trees saved/planted</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3 ">
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/droplet.svg" alt="" style="width: 10%; height: 10%;" class="card-img">

                    <h3 class="card-title">327,617</h3>
                    <p class="card-text">Litres of <b>water saved</b></p>
                </div>
            </div>
        </div>
    
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/xmark.svg" alt="" style="width: 10%; height: 10%;" class="card-img">

                    <h3 class="card-title">1,345</h3>
                    <p class="card-text">Cubic metres of <b>landfill space prevented</b></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src="static/img/plug.svg" alt="" style="width: 10%; height: 10%;" class="card-img">

                    <h3 class="card-title">69,420</h3>
                    <p class="card-text">Homes powered with <b>electrity saved</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".card-title").counterUp({
            delay:1,
            time:250

        })
    });
</script>