<link rel="stylesheet" href="static/css/info.css">
<link rel="stylesheet" href="static/fonts/font-family.css">
<div class="container" style="background-color: #fff;" >
    <div class="row">
        <div class="col-12 col-lg-6 colun" id="column1">
                    <h3 class="title2" style="font-family: Publico; color:white">OUR AIM</h3>
                    <p class="text"  style="font-family: Medium; color: white;">We are a group of young activists who wish to create a difference in the society by doing all that we can. Climate action and animal welfare are two issues that are matter to us the most, and therefore, we work to create awareness about climate action through our events. Our mission aims at making the Earth green for the next generations to thrive on and to provide animals a safer home and proper care.</p>
                    
        </div>

        <div class="col-12 col-lg-6 colun" id="column2">
            
                    <h3 class="title2" style="font-family: Publico;">WHAT WE DO</h3>
                    <p class="text"  style="font-family:Medium;">Ayika Foundation works towards creating a sustainable future for humans and animals alike by conducting various
                    projects, drives, campaigns, spreading awareness, writing blogs, and hosting podcasts. We wish to transform the way
                    people think about waste management, and promote animal protection. <br> We recently conducted a public park cleanup and recycling campaign. Read more about it <a style="text-decoration: none; cursor:pointer; color:aqua">here!</a>
</p>
        </div></div></div>
<!-- </div> --> 