<link rel="stylesheet" href="static/css/navbar.css">
<nav class="navbar navbar-expand-xl" style="background-color: #F4E4E4">
    <a href="/" class="navbar-brand mb-0">
        <img src="static/img/logo.svg" alt="Logo" width="30px" height="30px" class="d-inline-block align-top" /> <span style="color: #518A6C; font-weight: bold;" >Ayika Foundation</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle Navigation" style="color:#518A6C"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
            <li class="nav-item active">
                <a href="/ayika-foundation/projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item active">
                <a href="/ayika-foundation/team" class="nav-link">Team</a>
            </li>
            <li class="nav-item active">
                <a href="/ayika-foundation/upcoming-projects" class="nav-link">Upcoming Projects</a>
            </li>
            <li class="nav-item active">
                <a href="/ayika-foundation/gallery" class="nav-link">Gallery</a>
            </li>
            
            <li class="nav-item mt-2">
                <a href="/ayika-foundation/contact-us"><button type="button" class="btn btn-success">Contact Us</button></a>
            </li>
        </ul>
    </div>




</nav>