<link rel="stylesheet" href="static/css/navbar.css">
<link rel="stylesheet" href="static/fonts/font-family.css">
<nav class="navbar navbar-expand-xl" style="background-color: #F3E3DE;">
    <a href="/ayikafoundation" class="navbar-brand mb-0">
        <img src="static/img/logo.svg" alt="Logo" width="30px" height="30px" class="d-inline-block align-top" /> <span style="color: #248564; font-weight: bold; font-family: Publico;" >Ayika Foundation</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle Navigation" style="color:#eee"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    ABOUT US
                </a>
                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="our-story">Our Story</a></li>
                    <li><a class="dropdown-item" href="team">Team</a></li>
                    <li><a class="dropdown-item" href="partners">Partners</a></li>
                </ul>
            </li>
            <li class="nav-item active">
                <a href="our-projects" class="nav-link">OUR PROJECTS</a>
            </li>
            <!-- <li class="nav-item active">
                <a href="get-involved" class="nav-link">GET INVOLVED</a>
            </li> -->

            <li class="nav-item active">
                <a href="gallery" class="nav-link">GALLERY</a>
            </li>
            
            <li class="nav-item mt-1">
                <a href="contact-us"><button type="button" class="btn btn-primary" style="background-color: #248564; border: #248564;"><span style="font-family: Publico;">Contact Us</span></button></a>
            </li>
        </ul>
    </div>




</nav>
