<style>
.footer {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #f8c4de;
  color: #000;
  text-align: center;
  padding: 20px;
  margin-top: 25px;

}
.p-2{
  max-width: 33%;
  flex-grow: 1;
  width: 33%;

}

@media only screen and (max-width:768px){
  .footer{flex-direction: column;justify-content: center;}
  .p-2{max-width: 100%;width: 100%;}
  
}
</style>
<footer>
<div class="footer d-flex flex-wrap bd-highlight justify-content-around">
    <div class="order-1 p-2 bd-highlight ms-auto">
      
        <img src="static/img/logo.svg" width="20%" height="20%" alt=""> 
          <h6 class="fw-bold mb-4" style="font-family: Publico; font-size: 2rem; color:#248564">Ayika Foundation
          </h6>
      <p>
        Ayika Foundation works towards creating a sustainable future for humans and animals alike by conducting various
        projects, drives, campaigns, spreading awareness, writing blogs, and hosting podcasts. We wish to transform the way
        people think about waste management, and promote animal protection.
      </p>
  </div>
    <div class="order-2 p-2 bd-highlight ms-auto"><h6 class="text-uppercase fw-bold mb-4">
      Useful links
    </h6>
    <p>
      <a href="our-story" class="text-reset">Our Story</a>
    </p>
    <p>
      <a href="team" class="text-reset">Team</a>
    </p>
    <p>
      <a href="partners" class="text-reset">Partners</a>
    </p>
    <p>
      <a href="our-projects" class="text-reset">Our Projects</a>
    </p>
    <p>
      <a href="gallery" class="text-reset">Gallery</a>
    </p>
    <p>
      <a href="contact-us" class="text-reset">Contact Us</a>
    </p></div>
    <div class="order-3 p-2 bd-highlight ms-auto"><h6 class="text-uppercase fw-bold mb-4">
      Contact
    </h6>
    <p><i class="fas fa-home me-3"></i>Mumbai</p>
    <p>
      <i class="fas fa-envelope me-3"></i>
      <a href="mailto:team@ayikafoundation.org" style="text-decoration: none; color: #000;"> team@ayikafoundation.org </a>
    </p>
    <p><i class="fas fa-phone me-3"></i> <a href="tel:+919152323147" style="text-decoration: none; color: #000;">+91 91523
        23147 </a></p>
    </div></div>
</div></footer>

<!-- <div>
  <a href="mailto:team@ayikafoundation.org" class="me-4 text-reset">
    <i class="fab fa-google"></i>
  </a>
  <a href="https://www.instagram.com/ayika.foundation" class="me-4 text-reset">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://www.linkedin.com/company/ayikafoundation/" class="me-4 text-reset">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://github.com/ayikafoundation/ayikafoundation" class="me-4 text-reset">
    <i class="fab fa-github"></i>
  </a>
</div> -->
