footer{
    position: absolute;
        left: 0;
        
        width: 100%;
        background: linear-gradient(to left, #2fb68a, #2ea27a, #2c8e6a, #297b5b, #25684c);
        color: white;
        padding: 100px 0 30px;
        border-top-left-radius: 125px;
        font-size: 13px;
        line-height: 20px;
}

.rowr{
    width:"85%";
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.colr{
    flex-basis: 25%;
    padding: 10px;
}

.logo{
    filter: brightness(500%);
    padding-bottom: 25px;
}

.colr h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}

ul li{
    
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;

}