
#card-body{
    background-color: transparent !important;

}
#card{
    background-color: transparent !important;
    border: 1px solid #1c551b;
    box-shadow: 5px 10px #1c551b;
}
.title2{
    background-color: #1c551b;
        background-image: linear-gradient(to bottom, #2fb68a, #2ea27a, #2c8e6a, #297b5b, #25684c);
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        background-clip: text;
    font-weight: bolder;
    font-family: 'Publico', sans-serif !important;
    font-size: 2rem;
}

.card-text{
    font-size: 1.25rem !important;
    background-color: #1c551b;
        background-image: linear-gradient(to bottom, #2fb68a, #2ea27a, #2c8e6a, #297b5b, #25684c);
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        background-clip: text;
}


@media only screen and (max-width: 768px) {
    #card-body{
        font-size: 20px;
    }
}