@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


.navbar-brand{
    margin-left: 25px;
}
.nav-item{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    
    margin: 0 15px;
}
.nav-link:hover{
    color: #fff;
    text-decoration: underline;
}